<div class="w-screen bg-gray-background flex items-center justify-center" style="min-height: calc(100vh - 74px);">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
        <h1 class="text-2xl mb-6">Opções de Produto</h1>

        <div class="space-y-4">
            <a href="/products/list" class="block w-full text-center bg-red-800 hover:bg-blue-600 text-white p-4 rounded">
                Listar Produto
            </a>

            <a href="/products/register" class="block w-full text-center bg-green-500 hover:bg-green-600 text-white p-4 rounded">
                Cadastrar Produto
            </a>
        </div>
    </div>
</div>