
<div style="min-height: calc(100vh - 74px);">
    <div class=" container mx-auto p-8">
        <h1 class="text-2xl mb-4">Lista de Produtos</h1>

        <div class="overflow-x-auto">
            <table class="min-w-full bg-white border rounded">
                <thead class="bg-red-800 text-white">
                    <tr>
                        <th class="py-2 px-4">ID</th>
                        <th class="py-2 px-4">Nome</th>
                        <th class="py-2 px-4">Valor</th>
                        <th class="py-2 px-4">Tipo</th>
                        <th class="py-2 px-4">Tamanho</th>
                    </tr>
                </thead>
                <tbody class="text-gray-700">
                
                    <tr>
                        <td class="border px-4 py-2">1</td>
                        <td class="border px-4 py-2">Produto A</td>
                        <td class="border px-4 py-2">R$ 50,00</td>
                        <td class="border px-4 py-2">Feminino</td>
                        <td class="border px-4 py-2">M</td>
                    </tr>
                    
                    <tr>
                        <td class="border px-4 py-2">2</td>
                        <td class="border px-4 py-2">Produto B</td>
                        <td class="border px-4 py-2">R$ 30,00</td>
                        <td class="border px-4 py-2">Masculino</td>
                        <td class="border px-4 py-2">G</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>