<div class="bg-gray-background">
    <div>
        <img class="w-full max-w-full" src="/imgs/bannerCatalogo.png" alt="">
    </div>

    <div class="flex justify-center items-center gap-6 mt-8">
        
        <div class="p-4 max-w-xs">
            <img class="rounded-md w-full h-auto" src="/imgs/t-shirtMasc.png" alt="regata estampada masculina">
            <p class="font-bold mt-2">REGATA DE ALÇA</p>
            <p class="text-slate-400">R$35.00</p>
        </div>
        <div class="p-4 max-w-xs">
            <img class="rounded-md w-full h-auto" src="/imgs/regataEstampada.png" alt="regata estampada masculina">
            <p class="font-bold mt-2">REGATA DE ALÇA</p>
            <p class="text-slate-400">R$35.00</p>
        </div>
        <div class="p-4 max-w-xs">
            <img class="rounded-md w-full h-auto" src="/imgs/cardiganMasc.png" alt="cardigan masculino">
            <p class="font-bold mt-2">BLUSA COM LAÇO</p>
            <p class="text-slate-400">R$40.00</p>
        </div>
    </div>
</div>