<script src="../../js/sales/handleAddSale.js"></script>

<div class="w-screen bg-gray-background flex items-center justify-center" style="min-height: calc(100vh);">

    <div class="p-4 w-50 rounded-md flex items-center flex-col shadow-lg gap-y-2.5 bg-white" style="max-width: 1000px;">
        
        <form action="/sales/create" method="post">
            <label for="selct-product">Produto</label>
            <select id="selct-product" name="product" class="input-facebook">
                <option selected disabled value="">Produto</option>
                {{#each products}}
                    <option value="{{this.id}}">{{this.name}} - {{this.reference}}</option>
                {{/each}}
            </select>

            <div id="list-products" style="width: 100%;">

            </div>

            <label for="quantity">Quantidade</label>
            <input type="number" name="quantity" id="quantity" class="input-facebook" value="0" required>

            <hr class="w-full m-4 border-gray-300 border">
            <button type="submit" class="h-12 w-full bg-red-800 rounded-md text-white">Cadastrar Venda</button>
        </form>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {{!-- <script src="../../js/main.js"></script> --}}
</div>