<div class="relative" style="margin-top: 74px;">
        <img class="w-full h-96 object-cover" src="/imgs/bannerCatalogo.png" alt="Banner Dia das Mães">
    <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-center">
        <p class="text-xl font-medium mb-6">Dias das Mães</p>
        <a href="#" class="px-8 py-4 bg-red-800 hover:bg-red-700 rounded-md text-white font-semibold">Saiba Mais</a>
    </div>
</div>

<!-- Texto Informativo -->
<div class="container mx-auto mt-8 px-4">
    <h3 class="text-black text-xl font-bold">Rezendes Moda</h3>
    <p class="text-lg text-gray-700 leading-relaxed">
        A Rezendes Moda oferece as últimas tendências femininas em moda com uma variedade incrível de peças. Encontre o look perfeito para qualquer ocasião em nossa coleção exclusiva de vestidos, blusas, calças, saias e acessórios. Aproveite nossas promoções e atendimento personalizado para escolher o que melhor combina com seu estilo. 
        Mantemos nosso catálogo atualizado com as novidades da moda e oferecemos eventos exclusivos    
    </p>
</div>

<div class="container mx-auto mt-8 px-2">
    <div class="flex justify-center items-center gap-6 mt-2">
        <div class="p-4 max-w-xs relative">
            <a href="/catalogs/feminine" class="absolute text-xl top-3 left-5 font-bold text-black px-2 py-1 rounded-md">FEMININO</a>
            <img class="rounded-md w-full h-auto" src="/imgs/catalogoFem.jpg" alt="imagem do catálogo feminino">
        </div>
        <div class="p-4 max-w-xs relative">
            <a href="/catalogs/masculine" class="absolute text-xl top-3 left-3 font-bold text-black px-2 py-1 rounded-md">MASCULINO</a>
            <img class="rounded-md w-full h-auto" src="/imgs/catalogoMasc.jpg" alt="imagem do catálogo masculino">
        </div>
        
    </div>
</div>

<div class="container mx-auto mt-8 px-2">
    <h3 class="text-black text-xl font-bold mb-4">MAIS VENDIDOS</h3>
    <div class="flex justify-center items-center gap-5 mt-4 pt-0">
        
        <div class="p-4 max-w-xs">
            <img class="rounded-md w-full h-auto" src="/imgs/CamisaCropped.jpeg" alt="Camisa Cropped">
            <p class="font-bold mt-2">CAMISA CROPPED</p>
            <p class="text-slate-400">R$55.00</p>
        </div>
        <div class="p-4 max-w-xs">
            <img class="rounded-md w-full h-auto" src="/imgs/rezendes modelo foto (4).jpg" alt="Regata de alça">
            <p class="font-bold mt-2">REGATA DE ALÇA</p>
            <p class="text-slate-400">R$35.00</p>
        </div>
        <div class="p-4 max-w-xs">
            <img class="rounded-md w-full h-auto" src="/imgs/rezendes modelo foto (5).jpg" alt="Blusa com laço">
            <p class="font-bold mt-2">BLUSA COM LAÇO</p>
            <p class="text-slate-400">R$40.00</p>
        </div>
    </div>
</div>

<script src="../js/main.js"></script>