<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/3.0.1/js.cookie.min.js"></script>

<script src="../js/login.js"></script>
<div class="w-screen bg-gray-background flex items-center justify-center" style="min-height: calc(100vh - 74px);">
    <div>
        <img src="/imgs/RM1.png" alt="">
    </div>
    <div class="bg-white p-4 w-380 rounded-md flex justify-center items-center flex-col shadow-lg gap-y-2.5">
        <h3 class="title">Realize seu Login</h3>
        <form action="">
            <input placeholder="Digite seu Email" class="input-facebook" name="email">
            <input placeholder="Digite sua senha" class="input-facebook" name="senha">
            <button class="h-12 w-full bg-red-800 rounded-md text-white" type="submit">Entrar</button>
        </form>

        <a href="#" class="cursor-pointer text-slate-500">Esqueceu a senha?</a>
        <hr class="w-full m-4 border-gray-300 border">
        <button class="h-12 w-full bg-lime-500 rounded-md text-white"><a href="/employees/register">Criar nova conta</a></button>
    </div>
</div>
