
<div class="w-screen bg-gray-background flex items-center justify-center" style="min-height: calc(100vh - 74px);">
    <div>
        <img src="/imgs/RM1.png" alt="">
    </div>
    <div class="bg-white p-4 w-380 rounded-md flex justify-center items-center flex-col shadow-lg gap-y-2.5">
        <h3 class="title">Cadastrar Funcionário</h3>
        <input placeholder="Digite o nome do funcionário" class="input-facebook">
        <input placeholder="Digite seu Email" class="input-facebook">
        <input placeholder="Digite sua senha" class="input-facebook">
        <button class="h-12 w-full bg-red-800 rounded-md text-white">Entrar</button>
        <hr class="w-full m-4 border-gray-300 border">
        <a href="/login" class="cursor-pointer text-slate-500">Possui uma conta? Realize o login</a>
    </div>
</div>