<div class="flex justify-between items-center border-b-2 border-slate-100 p-3">
    <a href="/"><img class="h-12" src="/imgs/RM1.png" alt=""></a>
    
    <div class="flex items-center">
        <a href="/" class="text-gray-600 hover:text-gray-900 mr-4">Catálogos</a>
        <a href="#" class="text-gray-600 hover:text-gray-900 mr-4">Sobre Nós</a>
        <a href="/employees" class="text-gray-600 hover:text-gray-900 mr-4">Funcionários</a>
        <a href="/products" class="text-gray-600 hover:text-gray-900">Produtos</a>
    </div>
</div> 